{% extends 'products/base.html' %}
{% load static %}

{% block css %}
    <link href="{% static 'vendor/css/shama.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <section>
        <!--    <div class="alert alert-light text-center" role="alert">-->
        <!--        Информационное сообщение-->
        <!--    </div>-->
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h1 class="mt-5">BrizZz</h1>
                    <p>
                        Тут будет красивый текст ну или слога, бла бла бла Blits блитс скоро без границ ой бриз.
                        А тут тоже что то крутое! Арендуй сейчас и получи: до -70% А так же. -20% новым до трех людей
                        типа того.
                    </p>
                    <button id="start-purchase-btn" type="button" class="btn btn-lg">
                        <a id="start-purchase-link" href="{% url 'products:index' %}">
                            Перейти к ознакомлению
                        </a>
                    </button>
                </div>
            </div>
        </div>
    </section>
{% endblock %}


